<%= form_for([confession, @comment]) do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="field">
    <h3>Reply</h3>
    <%= f.text_area :content, placeholder: "Type your reaction here..." %>
  </div>
  <%= f.submit "Reply", class: "btn btn-large btn-primary" %>
<% end %>