<div id="below-title">
  <aside id="confession">
    <section>
      <%= render "confession_form" %>
    </section>
  </aside>

  <div id="confessions">
    <h3 id="confessions-title">Latest Secrets &amp;<br>Reactions</h3>
    <%= render @confessions %>
  </div>
  <div style="clear:both;"></div>
  <%= will_paginate %>
</div>

<script type="text/javascript">
  var pusher = new Pusher(<%= render_pusher_key %>);
  var channel = pusher.subscribe('confession-channel');
  channel.bind('new-confession-event', function(data) {
    $(data.confession).css('display','none').addClass('new-push').insertBefore('#confessions div:first').slideDown();
  });
</script>