<li>
  <div class="comment-content" id="<%= comment.id %>">
  	<span class="terminal-chars">>>&nbsp;</span>
  	<%= comment.content %>
  </div>
  <div class="comment-details">
	  <span class="timestamp">
	    <i class="icon-time"></i> <%= comment.created_at.in_time_zone("Eastern Time (US & Canada)").to_formatted_s(:long_ordinal) %>
	  </span>
  </div>
  <div style="clear:both;"></div>
</li>