@import "bootstrap";

/* universal */

html {
  overflow-y: scroll;
}

body {
  background-color:black;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
  font-family: 'Press Start 2P','terminal',menlo,monospace;
  font-size:12px;
  background-color:black;
  border-color:gray;
  color:lightgray;
  margin: 10px 0;
}

.center h1 {
  margin-bottom: 10px;
}

/* end universal */

.cursor
{
  font-weight:bold;
  color: lightgreen;
  background-color:lightgreen;
}

h1
{
  font-size:20px !important;
  font-family: 'Press Start 2P','terminal',menlo,monospace;
}
h1 a
{
  color: lightgreen;
}
h1 a:hover
{
  text-decoration:none;
  color: green;
}
h1 a:hover .cursor
{
  text-decoration:none;
  color: green;
  background-color:green;

}

.terminal-chars{
  font-family: 'Press Start 2P','terminal',menlo,monospace;
  font-size:12px;
  color:dimgray;
}
.comments {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}
.timestamp {
  color: rgb(80,80,80);
  float:right;
  font-size:.9em;
}
.comment-number {
  color: rgb(80,80,80);
  float:right;
  font-size:.9em;
  margin-right: 10px;
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.6em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
    }
  }
}
#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }

div#confession
{
  padding: 20px;
  color:lightgray;
  border-radius: 15px;
  border-color:gray;
  border-width:5px;
  border-style:solid;
}

aside#comment
{
  float:left;
  margin-right:50px;
}
div#comments
{
  float:left;
  width:500px;
}

aside#confession
{
  float:left;
  margin-right:50px;
  width:250px;
}
div#confessions
{
  float:left;
  width:500px;
}

div#wrapper
{
  padding-top:30px;
  padding-bottom:60px;
  margin-bottom:30px;
  background-color:black;
  width:800px;
  margin-left:auto;
  margin-right:auto;
}
h3{
  color:cyan;
  font-family: 'Press Start 2P','terminal',menlo,monospace;
  font-size:17px;
}
div#below-confession
{
  margin-top:40px;
}

textarea:focus, 
input:focus 
{
  border-color:rgba(144,238,144,.8);
}
span.comment-content
{
  color:lightgray;
  white-space: pre-wrap;
}

div#below-title
{
  margin-top:30px;
}

div.confession{
  padding: 20px;
  color:lightgray;
  border-radius: 15px;
  border-color:gray;
  border-width:5px;
  border-style:solid;
  margin:10px 0;
}
span.confession-content, span#confession-content
{
  white-space: pre-wrap;
}
div.confession-details{
  margin-top:10px;
}

div.confession-details a{
  color:lightgreen;
}
div.confession-details a:hover{
  color:green;
  text-decoration:none;
}

.pagination a{
  color:cyan;
  border-color:gray;
}
.pagination .active a{
  background-color:gray;
  color: lightgreen;
}
.pagination a:hover{
  background-color: gray;
}
div.pagination
{
  margin-left:auto;
  margin-right:auto;
  width:400px;
}

.myButton{
  border: 3px gray solid;
  background-color:black;
}
.myButton:hover{
  border-color:lightgreen;
}

div#counter{
  text-align: right;
  color: cyan;
  margin-right:30px;
  margin-top:20px;

}